@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Bricolage+Grotesque:opsz@10..48&family=Caramel&family=Cedarville+Cursive&family=IBM+Plex+Sans&family=Inconsolata&family=Kanit&family=Lato&family=Merriweather:ital@1&family=Montserrat&family=Mulish:wght@800&family=Noto+Sans+KR&family=Nunito+Sans&family=Open+Sans&family=Play&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300&family=Raleway&family=Readex+Pro&family=Roboto+Condensed:ital@0;1&family=Roboto:wght@300;400&family=Work+Sans:wght@300;400&display=swap');

*{
	padding: 0px;
	margin: 0px;
	font-family: 'Kanit', sans-serif;

	text-decoration: none;
}

:root{
	--primary-color: #6AAF08;
}

/*=========== enquiry form ===*/
.enquiryform{
	background:rgba(0, 0, 0, 0.7);
	height: 100vh;
	position: absolute;
	left: 0%;
	z-index: 99999999;
	top: -200%;
	transition: 1s;
}
.showDiv{
	top: 0%;
	transition: .2s;
}
.fromSection{
	position: absolute;
	top: -200%;
	background: #fff;
	left: 50%;
	transform:translate(-50%,-50%);
	height: 400px;
	border-radius: 5px;
	color: var(--primary-color);
	transition: .6s;
	z-index: 9999999999;
}
.showForm{
	
	top: 50% !important;
	transition: .2s ;
}
.formInner{
	width: 100%;
	position: relative;
	height: 100%;
	display: flex;
}
.formField{
	padding: 10px 20px;
	flex-basis: 60%;
	margin: 0px;
}
.formField p{
	text-transform: capitalize;
	color: dimgray;
	margin: 0px;
}
.inputField{
	width: 100%;
	margin: 10px 0px;	
}
.inputField input{
	width: 100%;
	padding: 5px 10px;
	outline: none;
	border: none;
	background: #cccccc73;
}
.inputField select{
	width: 100%;
	padding: 5px 10px;
	outline: none;
	border: none;
	background: #cccccc73;
}
.inputField select option{
	outline: none;
	padding: 5px 10px;
	width: 100%;
	border: none;
}
.inputField textarea{
	background: #cccccc73;
	padding: 5px 10px;
	width: 100%;
	outline: none;
	border: none;
}
.inputField button{
	width: 100%;
	padding: 5px 10px;
	margin: 10px 0px;
	outline: none;
	border: 2px solid transparent;
	background: var(--primary-color);
}
.inputField button a{
	text-decoration: none;
	color: #fff;
}
.inputField button:hover{
	background: #fff;
	border: 2px solid var(--primary-color);
}
.inputField button:hover a{
	color: var(--primary-color);
}
.fromSection .closebtn{
	right: -1%;
	cursor: pointer;
	width: 40px;
	height: 40px;
	top: -5%;
	z-index: 99999;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	background: red;
	border: 1px solid red;
}
.fromSection .closebtn i{
	cursor: pointer;
	color: #fff;
	text-align: center;
	margin-left: -10px;
	margin-top: 5px;
	position: absolute;
	font-size: 30px;
}
.contactField{
	flex-basis: 40%;
}
.contImg{
	width: 100%;
	height: 200px;
}
.contImg img{
	width: 100%;
	height: 100%;
}
.info{
	width: 100%;
	margin: 10px 0px;
	display: flex;
}
.iconInfo{
	flex-basis: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	border: 1px solid green	;
}
.iconInfo i{
	margin-top: 10px;
	color: #000;
	font-size: 18px;
}
.address{
	color: gray;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 14px;
}
/*=== end enquiry form ==*/




header{
	position: relative;
	background: url('../img/bg3.jpg')center ;
	height: 100vh;
	box-shadow: 1px 1px 2px 2px  #ccc;
}
.cover{
	
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.5);
}
.sticky{
	background:#04091e;
/*	padding: 5px 10px;*/
}
#cont{
	background: rgba(0, 0, 0, 0.5);
	background: #04091e;

}
.menuMainDiv{
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.logoDiv{
	flex-basis: 20%;
	
	
}
.logoDiv a{
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
}
.addCls{
	position: absolute; !important;
	top: 0px !important;
	background: red !important;
	z-index: 999999;
}

.menuIteam{
	flex-basis: 70%;

}

.innerItem{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menuIteam .innerItem ul{
	
	list-style: none;
	color: #fff;
	display: flex;
	align-items: center;
	flex-basis: 80%;
	justify-content: space-between;
	margin-top: 10px;
}
.menuIteam .innerItem ul li{
	text-align: center;
	position: relative;
	padding: 10px ;
	cursor: pointer;
	
}
.menuIteam .innerItem ul li:hover{
	background: var(--primary-color);
}

.menuIteam .innerItem ul li a{
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}
.innerItem .enqryBtn{
	padding: 10px;
	flex-basis: auto;
	outline: none;
	background: #6AAF08;
	outline: none;
	border-radius: 5px;
	border: 2px solid transparent;
}
.enqryBtn a{
	color: #fff;
	text-decoration: none;
}
.enqryBtn:hover{
	background:transparent;
	border: 2px solid var(--primary-color);
}
.enqryBtn:hover a{
	color: var(--primary-color);
}
.menuBtn{
	padding: 10px ;
	display: none;
	background: var(--primary-color);
}
#solidIcon{
	display: none  !important;
}
.submenu{
	position: absolute;
	left: 0%;
	top: 100%;
	width: 100%;
	z-index: 9999999999;
	background: #fff;
	padding: 10px;
	border: 1px solid #fff;
	display: inline-block !important;
	transform: scaleX(0);
}
.menuIteam .innerItem ul li:hover .submenu{
	transition: .3s;
	transform: scalex(1);

}
.innerItem button:hover {
	color: var(--primary-color);
}
.submenu li{
	margin: 10px 0px;
	padding: 5px 10px;
	display: block;
}
.submenu li:hover{
	background: var(--primary-color);
}
.submenu li a{
	color: #000 !important;
}
.submenu li:hover a{
	color: #ffff !important;
}


/*=== Mbole ==*/
.mobileMenu{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.65);
	top: 0%;
	left: -200%;
	
	transition: .5s ;
	z-index: 9999999999;
}
.shMenu{
	left: 0;
	transition: .5s !important;
}
.innerMobile{

	background: #04091e;
	height: 100%;
	width: 90%;

}
.mobmenuItem{
	display: flex;
	justify-content: space-between;
	padding: 8px 20px;
	align-items: center;

}
.mobmenuItem{
	margin-top: 10px;
}
.mobmenuItem h2{
	flex-basis: 50%;
	font-size: 20px;
}
.mobmenuItem h2 a{
	text-decoration: none;
	color: #fff;
}
.mobmenuItem p{
	margin-top: 5px;

}
.mobmenuItem p i{
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

.MmenuItem ul{
	list-style: none;
	color: #fff;
	
}
.MmenuItem ul li{
	color: #fff;
	
	padding: 10px;
	margin: 5px 0px;
	position: relative;

	margin-left: -20px;
}
.MmenuItem ul li a{
	color: #fff;
	text-decoration: none;
}
.MmenuItem ul li:hover #subMenu{
	display: block;
}
#subMenu{
	padding: 5px;
	background: #fff;
	color: red;
	border-radius: 5px;
	display: none;
	border: 1px solid green;
}
#subMenu li{
	margin: 2px 0;
	
	
}
#subMenu li a{
	color: var(--primary-color);
}

/*#subMenu ul li a{
	color: var(--primary-color);
}*/

/*-- content container --*/

.contentContainer{	

}
.innerDiv{
	margin-top:20px;
}
.innerDiv h2{
	color: #fff;
	font-weight: bolder;
	font-size: 45px;
	margin-top: 10%;
}
.innerDiv p{
	font-size: 15px;
	color: #fff;
	letter-spacing: .5px ;
	font-weight: normal;
	word-spacing: 1px;
}

.btnDiv{
	margin:auto;
}
.btnDiv button{
	margin-top: 20px;
	
}
.btn{
	padding: 8px 10px ;
	outline: none;
	border: 2px solid transparent;
	background: #6AAF08;

}
.btn a{
	text-decoration: none;
	color: #ffff;
}
.btn:hover{
	background: transparent;
	border: 2px solid var(--primary-color);
}

.btn:hover a{
	color:var(--primary-color);
}
.btn2{
	border: 2px solid  transparent;	
}
.btn2 a{
	color: #fff;
	text-decoration: none;
}
.btn2:hover{
	border:2px solid var(--primary-color); 
	background: transparent;
}
.btn2:hover a{
	color: var(--primary-color);
}






/*=== welcome section ===*/
.welcomeSec{
/*	border: 1px solid black;*/
margin: 20px 0px;
padding: 10px;
}
.welcomInnerDiv{
	/*width: 500px;
	height: 500px;*/
	
	
}
.welcomRightDiv{
/*	border: 1px solid red;*/
}

.welimgDiv{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 9999;
	
}
.welimgDiv img{
	width: 100%;
	height: 100%;
	border-radius: 10px;

}
.welimgDiv:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background:url('../img/black-hand-drawn-ink-stain-ink-spot-isolated-on-white-background-illustration-vector.jpg');
	background-size:cover ;
	background-position: center;
	mix-blend-mode: screen;
}
.imgP2{
	position: absolute;
	width: 100px;
	top: 10%;
	left: -10%;
	z-index: -1;
}
.imgP2 img{
	width: 100%;
	border-radius: 0px;
}
.welcomRightDiv h3{
	margin-top: 40px;
	font-weight: 700;
	font-size: 40px;
/*	color: var(--primary-color);*/
}
.welcomRightDiv p{
	color: var(--primary-color);
}
.welcomRightDiv p:last-child{
	color: Gray;
	font-weight: normal;
}


/*======== services section ===*/
.services{
	background: #354252;
	margin-top: ;
	padding: 20px 0px;
}
.iteam1{
	height: 100px;
	display: flex;
	padding: 10px;
}









/*-- Let's Explore Zooventour --*/
.aboutUs{
	padding: 60px 0px;
}

.aboutInner h2{
	margin-top: 20%;
	font-size: 20px;
	color: var(--primary-color);
	position: relative;
}
.imgDiv{
	width: 400px;
	margin: auto;
	height: 400px;
	border-radius: 50%;	
}
.imgDiv img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.rowdiv1{
	display: flex;
}


/*==== package section ==*/
.packageSec{
	margin:40px 0px;
}
.packageContainer button{
	padding: 10px 20px;
	border: none;
	outline: none;
	background: var(--primary-color);
	color: #fff;
}


 .item {
	background: #fff;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	
}
.item .sliderImg{
	height: 200px;
	position: relative;
	border-radius: 5px;
}
.item .sliderImg:before{
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	top: 0%;
	left: 0%;
	background: url('../img/black-hand-drawn-ink-stain-ink-spot-isolated-on-white-background-illustration-vector.jpg')center no-repeat;
	background-size: 100%;
	
	mix-blend-mode: screen;
/*	background: red;*/
}
.sliderImg img{
	width: 100%;
	height: 100%;
}
.sliderContent{
	padding: 10px;
/*	border: .3px solid lightgray;*/
}
.sliderContent h4{
	font-size: 17px;
	color: var(--primary-color);
	margin: 0px;
}
.sliderContent p{ color: gray; font-size: 15px; margin: 0px; }
.sliderContent p span{
	font-size: 16px;
	color: black;
}
.sliderContent button{
	margin-top: 10px;
	padding: 5px 10px;
	border: 2px solid transparent;
}
.sliderContent button a{
	text-decoration: none;
	color: #fff;
}
.sliderContent button:hover{
	background: #fff;
	border: 2px solid var(--primary-color);
}
.sliderContent button:hover a{
	color: var(--primary-color);
}


/*==== National Park section ===*/
.parkContainer p{
	color: var(--primary-color);
}
.innerParkDiv{
	border-radius: 10px;
	margin: 10px 0px;
/*	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);*/
height: 200px;
position: relative;
}
.innerParkDiv img{
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: .8;
}

.contentInner{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
}
.contentInner p{
	margin: auto;
}
.contentInner p a{
	text-decoration: none;
	font-size: 18px;
	color:#000;
	color: #ffff;
	margin: auto;
	background: #00000040;
	padding: 10px;

}
.parkbutton {
	text-align: center;
	margin: 20px 0px;
}
.parkbutton button{
	padding: 5px 30px;
	border: none;
	background: var(--primary-color);
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
}
.parkbutton button:hover{
	background: #fff;
	border: 2px solid var(--primary-color);
}
.parkbutton button:hover a{
	color: var(--primary-color);
}
.parkbutton button a{
	text-decoration: none;
	color: #fff;
}

/*== why chooes us section ===*/


.whyContainer{
	
	padding: 20px 0px;

}
.whyContainer h4{
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
	word-spacing: 2px;

}
.whyContainer h3{
	text-align: center;
	font-size: 50px;
	color: #fff;
	text-transform: capitalize;
}
.whyContainer h3 span{
	color: var(--primary-color);
}
.whyContainer p{
	color: #fff;
	text-align: center;
}
.whyInnerDiv{
	background: #fff;
	display: flex;
	box-shadow:  0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.whyInnerDiv .icon{
	flex-basis: 20%;
}
.whyInnerDiv .icon i{
	font-size: 40px;
	margin-top: 10px;
	color: gray;
}
.whyInnerDiv .contentWhy{
	flex-basis: 80%;
	margin-left: 5px;
	padding: 5px 0px;
	text-align: left;
}
.whyInnerDiv .contentWhy p{
	color: #000;
	margin: 0px;
	text-align: left;
	padding: 0px;
}
.whyInnerDiv .contentWhy p:last-child{
	color: dimgray;
	margin: 0px;
	text-align: left;
	padding: 0px;
	font-size: 14px;
}
.clipDiv{
	height: 100%;
	width: 100%;
	background-size: cover;
	position: relative;
	object-fit:cover;
}
.clipDiv img{
	width: 100%;
	height: 100%;
	

}
.coverDiv{
	position: absolute;
	background:url('../img/black-hand-drawn-ink-stain-ink-spot-isolated-on-white-background-illustration-vector.jpg') ;
	mix-blend-mode: screen;
	width: 100%;
	height: 100%;
	background-repeat:no-repeat ;
	background-size:100% ;
	background-position:center ;
	top: 0%;
	left: 0%;
}


/*=== footer section ===*/
footer{
	
	background: #04091e;
	padding: 40px 0px;
	color: #fff;
}
.footerContainer{
	
}
.innerFooterDiv{
	margin-top: 60px;
}
.innerFooterDiv h4{
	color: #fff;
	font-size: 18px;
}
.innerFooterDiv p{
	color: #ccc;
	font-size: 12px;
}
.innerFooterDiv p span{
	margin-left: 10px;
}
.innerFooterDiv ul{
	list-style: none;
	margin: 0px;
	margin-left: -30px;
}
.innerFooterDiv ul li{
	margin: 5px 0px;
}
.innerFooterDiv ul li a{
	text-decoration:none;
	color: #fff;
	font-size: 14px;
}



/*============ about us page ================*/
.aboutPagesec{
	border: 1px solid black;
	background: #04091e;
}
#meuDivAbout{
	background: #04091e;	
}

/*-- about banner --*/
.aboutBanner{
	
	height: 400px;
	position: relative;
	background-size: cover;
	background: url('../aboutimg/472626264_tigers_ranthambhore_national_park_3000x1000.jpg')center no-repeat;
}
.aboutBanner:before{
	content: "";
	position: absolute;
	background: url('../aboutimg/paint-black-strokes-brush-stroke-color-texture-with-space-your-own-text_49507-2731.avif');
	width: 100%;
	height: 100%;
	mix-blend-mode: screen;

	background-position: center;
	
}
.aboutcont{
	
	padding-top:20px ;
}
.aboutHead{
	text-align: center;
	
}
.aboutHead h4{
	color: #ffff;
	font-size: 60px;
	margin-top: 120px;
}

/*-- about middle section --*/
.aboutMiddle h3{
	color: var(--primary-color);
}
.aboutMiddle p{

}

/*-- innerDivContact --*/

.innerDivContact{
	
	display: flex;
	align-items: center;
}
.iconContact{
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid var(--primary-color);
}
.iconContact i{
	font-size: 25px;
	margin-top: 10px;
	color: var(--primary-color);
}
.innerDivContact h4{
	margin-top: 5px;
	margin-left: 10px;
}
.innerDivContactRight{
	display: flex;
	
	justify-content: space-between;
}

.leftDiv{
	flex-basis: 40%;
}
.leftDiv .leftDivinput{
	width: 100%;
	margin: 10px 0px;
}
.leftDivinput input{
	padding: 10px;
	outline: none;
	border: .5px solid gray;
	width: 100%;
}
.rightDiv{
	flex-basis: 55%;
}
.rightDiv textarea{
	padding: 10px;
	outline: none;
	width: 100%;
	height: 100%;
	border: .5px solid gray;
}
.btndiv{
	text-align: right;
	margin-top: 20px;
}
.btndiv button{
	padding: 5px 20px;
	outline: none;
	border: 2px solid transparent;
	color: #fff;
	background: var(--primary-color);
}
.btndiv button:hover{
	background: transparent;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
	background:no-repeat;
}


/*========== Package page ==========*/
.packagePageSec{
	background: #f9f9ff;
	padding: 0px 0px;
}


.packageContainer{
	padding: 10px 0px;
}
.packContainer  h6{
	margin-top: 20px ;
	color: var(--primary-color);

}
.packContainer  h6 a{
	text-decoration: none;
	color: var(--primary-color);
}
.packContainer h3{
	font-size: 30px;
	margin-top: 20px;
}

.packBtn{
	background: var(--primary-color);
}
.packSeachLeft{
	background: whitesmoke;
	border-radius: 5px;
	padding: 10px 20px;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.packSeachLeft h2{
	font-size: 18px;
}
.packSeachLeft input{
	outline: none;
	border: none;
	padding: 6px;
}
.packSeachLeft button{
	padding: 5px 15px;
	outline: none;
	margin-top: 10px;
	background: var(--primary-color);
	border: 2px solid transparent;
}
.packSeachLeft button a{
	color: #fff;
	text-decoration: none;
}
.packSeachLeft button:hover{
	background: transparent;
	border: 2px solid var(--primary-color);
}
.packSeachLeft button:hover a{
	color: var(--primary-color);
}
.packSeachLeft2{
	padding: 10px 0;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	background: ;
	border-radius: 5px;
	background: whitesmoke;
}
.btnReltour{
	padding: 0 10px;
}
.btnReltour button{
	width: 100%;
	padding: 5px;
	outline: none;
	border: 2px solid transparent;
	border-radius: 5px;
	background: var(--primary-color);
}
.btnReltour button a{
	text-decoration: none;
	color:#fff;
}
.btnReltour button:hover{
	background: transparent;
	border: 2px solid var(--primary-color);
}
.btnReltour button:hover a{
	color: var(--primary-color);
}
.innerLeft{
	border-left: 5px solid var(--primary-color);
	
}
.innerLeft h2{
	font-size: 20px;
	margin-top: 5px;
	margin-left: 10px;

}
.relTourDiv{
	border-bottom: .5px solid #ccc;
	padding-bottom: 15px;
	display: flex;
	padding-left: 10px;
	padding-top: 20px;
}
.relTourDiv:last-child{
	border: none;
}
.relImg{
	
	flex-basis: 20%;
	height: 60px;
	
}
.relImg img{
	width: 100%;
	height: 100%;
}
.relDetl{
	flex-basis: 70%;
	padding: 5px 0;
}
.relDetl p{
	margin: 0px;
}
.relDetl p a{
	text-decoration: none;
	color: #000;
}
.relDetl p:hover a{
	color: var(--primary-color);
}




/*=== Pack details  page===*/


/*-- banner --*/
.imgSectionpackDetails{
	width: 100%;
	height: 100%;
	position: relative;
}
.imgBanner{
	width: 100%;
	height: 450px;
}
.imgBanner img{
	width: 100%;
	height: 100%;
}

.imgSectionpackDetails:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.imgSectionpackDetails img{
	width: 100%;
	height: 100%;
}
.packBannertitle{
	position: absolute;
	width: 100%;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 999;
}

.innerContainerBanner h4{
	font-size: 40px;
	font-weight: 600;
	letter-spacing: .5px;
}
.detailPack h5{
	color: var(--primary-color);
	margin-top: 20px;
}
.detailPack h5 a{
	text-decoration: none;
	color: var(--primary-color);
}


.bannerprice ul{
	list-style: none;
	margin: 0;
	padding: 20px 0;
	display: inline-block;
}
.bannerprice ul li span{
	font-size: 14px;

}
.bannerprice ul li{
	display: inline-block;
	margin: 0 20px;
	font-size: 20px;
	padding-right: 20px;
	border-right: 1px solid #fff;
}
.bannerprice ul li:last-child{
	border: none;
}



/*-- end Banner --*/

.detailImgdiv{
	position: relative;
	height: 350px;
}
.detailImgdiv img{
	width: 100%;
	height: 100%;
}
.detailImgdiv:before{
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	background:rgba(0, 0, 0, 0.1);
	top: 0%;
}

.detailFaq{
	padding: 0 10px;
	margin-top: 20px;
}
.detailFaq h6{
	color: var(--primary-color);
	margin: 20px 0;
	font-size: 25px;
}

.faq2{
    margin:20px;
}
.faq_item{
    height: auto;
    cursor: pointer;
}
.faq_item h2{
    
    background: var(--primary-color);
    background: #04091e;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    transition: .3s;
    position: relative;
}
.bgclass{
    color: #fff !important;
    background-color: green !important;
    transition: .3s;
}
.faq_item h2 i{
    position: absolute;
    right: 10px;
}
.faq_item p{
    padding: 0px 0px;
    transform:scaleY(0);
    height: 0;
    margin-bottom: 10px;
    transition: 0.4s;
}
.faq_item p i{
	color: var(--primary-color);
	font-weight: bolder;
	margin-right: 5px;
}
.active{
    height: auto  !important;
    transform: scaleY(1) !important;
    transition: 0.4s !important;
}
/*====== inclusion section ===*/
.inclusiondiv{
	
	margin: 20px 0;
}
.inclusiondiv p{
	font-size: 20px;
	text-transform: capitalize;
	color: var(--primary-color);
	margin: 0;
}
.inclusiondiv ul {
	list-style: none;
	margin: ;
	
}
.inclusiondiv ul li{
	margin-left: -25px;
	margin-bottom: 10px;
	
}
.inclusiondiv ul li i{
	color: var(--primary-color);
	margin-right: 10px;
}
.exclus ul li i{
	color: red;
}

.packDetail p{
	margin-top: 10px;
}
.packDetail i{
	color: var(--primary-color);
}

.pTitle{
	color: var(--primary-color);
	font-size: 25px;
}
.enquirydiv{
/*	border: 1px solid red;*/
}
.enqDivLeft{
	margin: 10px 0px;	
}
.innerleft{
	padding: 5px;
	align-items: center;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.10);
	display: flex;
}
.detailIcon{
	flex-basis: 20%;
	text-align: center	;
	color: var(--primary-color);
	font-size: 20px;
}
.dtitle{
	flex-basis: 80%;
}
.dtitle h4{
	font-size: 18px;
	margin: 0;
	margin-top: 10px;
}
.enquirydiv p{
	margin: 0;
	font-size: 14px;
}
.bookbtn{
	text-align: right;
	margin-right: 10px;
	padding: 10px 0px;
}
.bookbtn button{

	padding: 5px 15px;
	width: 100px;
	outline: none;
	background: var(--primary-color);
	border: 2px solid transparent;
}
.bookbtn button a{
	text-decoration: none;
	color: #fff;
}
.bookbtn button:hover{
	background: transparent;
	border: 2px solid var(--primary-color);
}
.bookbtn button:hover a{
	color: var(--primary-color);
}























